@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Noto Sans JP', sans-serif;
  background: #1f1f1f;
}
div {
  padding: 5px;
}
td {
  padding: 5px;
}

body {
  margin: 0;
}

